.cart{
    display: flex;
}

.carritoLogo{
    color: white;
}

button{
    background-color: #72002eff !important;
    border: none !important;
}

.contadorCarrito{
    background-color: red;
    color: white;
    border-radius: 45%;
    font-size: 15px;
    padding: 2px;
    top: 38px;
    right: 13px;
    position: absolute;
    transform: translate(-300px, 14px);
}