:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* navBar */

.imgLogo {
  width: 90px
}


.nav {
  background-color: #72002eff !important;
  color: white;
}

.navbar-expand .navbar-nav .nav-link {
  color: white;
}

/* itemListContainer */

.greetingContainer{
  position: relative;
  min-height: 100vh;
}

.greeting {
  display: flex;
  justify-content: center;
  left: 700px;
  top: 300px;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  z-index: 5;
  color: white;
  font-style: italic;
}

.video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.pageCover{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  display: block;
  mix-blend-mode: overlay;
}

/* cartWidget */

.cart{
  display: flex;
}

.carritoLogo{
  color: white;
}

button{
  background-color: #72002eff !important;
  border: none !important;
}

.contadorCarrito{
  background-color: red;
  color: white;
  border-radius: 45%;
  font-size: 15px;
  padding: 2px;
  top: 38px;
  right: 13px;
  position: absolute;
  transform: translate(-300px, 14px);
}